/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: #333;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bold{
  font-weight: bold;
  color: darkblue;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.underline{
  text-decoration: underline;
  color: gray;
  
}
